.table {
  display: flex;
}

.table>.table-hd {
  display: flex;
  padding: 0;
  list-style: none;
  border: solid 1px #aaa;
}


.table-hd>li {
  padding: 8px 16px;
  border-right: solid 1px #aaa;
}

.table-hd>li:nth-last-child(1) {
  border: none;
}

img {
  width: 100%;
}